/* Global styles */
:root{
    --main-color-webstudio: #2E2F42;
    --benefits-text-color: #434455; /*and portfolio main text color*/
    --font-family: "Raleway", sans-serif;
}

/*page*/
.page{ 
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
} 
/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}
ul,a{
    color: #2E2F42;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.section-address {
    font-style: normal;
}
/*reset end*/

/*header */

/*logo start*/
.webstudio-logo{
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    text-transform: uppercase;
}
.logo-web {
    color: #4D5AE5;
}
.logo-dark {
    color: #2E2F42;
}
.logo-light {
    color: #F4F4FD;
}
/*logo end*/
/*contact */
.contact {
    font-weight: 400;
    color: #2E2F42;
    font-style: normal;
}
/* Hero */
.Hero{
    width: 1550px;
    height: 600px;
    background-color: var(--main-color-webstudio);
    color: rgb(255, 255, 255);
    }
    
.hero-h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
}
/*hero button*/
.hero-btn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    color: #F4F4FD;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: 2s;
    justify-content: center;
    align-items: center;         
    border: 1px solid #E7E9FC;   
}
.hero-btn:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    border-radius: 90%;
    transition: 0,5s;
}
/*hero button end*/
/*text*/
.benefits-h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--benefits-text-color);
}
.benefits-paragraph{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--benefits-text-color);
}

/*what we are doing*/
.whatarewedoing{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}
.whatarewedoing-accent{
    color: #4D5AE5;
}
.What-images{
    width: 360px;
    height: 300px;                     
    flex-wrap: wrap;       
}
/*Our Team*/
.ourteam-h3{
    font-weight:700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
/*footer*/
.footer {
    display: flex;
    flex-direction: column;;
    margin: 0 auto;
    width: 1550px;
    height: 156px;
    background-color: #2E2F42;
    color: rgb(255, 255, 255); 
    }
/*footer logo and background*/
.logo{

    color:#4D5AE5 ;
}
.logo-footer{
    font-style: italic;
    color: #F4F4FD;
}
.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
/*footer end*/
/*google fonts */
/*font-family: "Raleway", sans-serif;*/
/* Portfolio */
.text-h3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42
}
.text-paragraph {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em; 
    color: #2E2F42;
}
/*Portfolio Filter */
.portfolio-filter{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
}
/* Buttons */
/*buttons seting*/
.button-all
{
    background-color: #F4F4FD;
    color: #4D5AE5;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid #E7E9FC; 
    transition: 1s;   
}
/* Button Hover Effects */
.button-hover:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    cursor: pointer;
    border-radius: 90%;
    transition: 1s;
} 
/*button hover end*/
/* Team Member */
.portfolio-item {   
    width: 360px;
    height: 300px;
}