/*=========================================================+
| Global Styles                                          |
+=========================================================*/
* {
    box-sizing: border-box;
}
:root{
    --light-stale:#8E8F99;
    --benefits-text-color: #434455; /*and portfolio main text color*/
    --font-family: "Raleway", sans-serif;
    --navy-blue-color: #2E2F42;
    --iris-color: #4D5AE5;
    --white-color:#FFFFFF;
    --cloud-color: #F4F4FD;
    --cornflower-color:#E7E9FC;
    --ocean-color: #404BBF;
}

/*!page*/
.page{ 
    overflow-x: hidden;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
} 
/*!reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}
ul,ol,a{
    color: var(--navy-blue-color);
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-list{
    font-style: normal;
}
/*********************************************************
*                      container page                    *
*********************************************************/

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline-offset: -2px;
    /*
    outline: 2px solid red;*/
}

/*=========================================================+
| Header Styles                                           |
+=========================================================*/
/*header`s container*/
.header{
    width: 100%;
    border-bottom: 1px solid var(--cornflower-color); /* сіра лінія */
}
.header-container {
    max-width: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px ;
    align-items: center;
    height: 60px;
    
}

/* logo */
.webstudio-logo {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}
/*.page-logo img{

}*/
/* header`s list */
.header-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin-left: 76px;
    margin-right: 114px;
}
.header-list a {
    color: var(--navy-blue-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.section-address a {
    align-items: center;
}
/*=========================================================+
| Header logo and footer logo styles                                     |
+=========================================================*/
/*!logo start*/
.webstudio-logo{
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 15px;
}
.logo-web {
    color: var(--iris-color);
}
.logo-dark {
    color: var(--navy-blue-color);
}
.logo-light {
    color: var(--white-color);
}
/*!Hero */
.Hero{
    width: 100%;
    min-height: 450px;
    background-color: var(--navy-blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    padding: 60px 15px;

}
    
.hero-h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 60px 0 49px 0;
}

/*!hero button*/
.hero-btn {
    width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    color: var(--white-color);
    background-color: var(--ocean-color);
    transition: 2s;        
    border: 3px solid var(--cornflower-color);  
}
.hero-btn:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    border-radius: 90px;
    transition: 0,5s;
    cursor: pointer;
}
/*=========================================================+
| Benefits                                |
+=========================================================*/
.container-benefits {
    display: flex;
    margin-top: 65px;

}

.benefits-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.benefits-item {
    flex: 1;
}

.benefits-h3 {
    margin: 0 0 10px 0;
}

.benefits-paragraph {
    margin: 0;
}
.benefits-div{
    background-color: var(--cloud-color);
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 5%;

}
.benefits-img{
    align-items: center;
}
/*=========================================================+
| What Are We Doing Styles                                |
+=========================================================*/
.Services-h2{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.whatarewedoing-accent{
    color:#4D5AE5
}
.Services-ul{
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    gap: 15px;
}
.What-images{
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 120px;
}
/*=========================================================+
| Our Team Styles                                        |
+=========================================================*/
.container-ourteam {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
    outline-offset: -2px;
    
}
.ourteam {
    margin-top: 60px;;
    background-color: var(--cloud-color);
    margin-left: auto;  
    padding-bottom: 120px;
    margin-right: auto;
}
.text-ourteam {
    padding: 60px 0 60px 0;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--main-color-webstudio);
}
.ourteam-h3{
    font-weight:700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue-color);
}
.border-ourteam{
    padding: 24px 28px;
    border: 1px solid #E7E9FC;
    border-top: none;
    background-color: var(--white-color);
    text-align: center;
}
.social-list{
    display: flex;
    align-items: center;
    gap: 16px;
}
/*=========================================================+
| Customers                                          |
+=========================================================*/
.text-customers{
    padding-top: 120px;
    padding-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--main-color-webstudio);
    font-family: var(--font-family);

}
.customers{
    padding-top: 120px;
    padding-bottom: 120px;

}
.customers-div {
    padding-bottom: 120px;
    justify-content: center;
    gap: 24px;
    display: flex;
    align-items: center;
}
.customers-item{
    padding-left: 32px ;
    padding-bottom:16px ;
    padding-right: 32px;
    padding-top:16px ;
    border: var(--light-stale) solid 3px;
    border-radius: 5%;
    transition: 0.3s;
}
.customers-item:hover {
    
    border-color: #4D5AE5;
    filter: brightness(0) saturate(100%) invert(37%) sepia(62%) saturate(1968%) hue-rotate(222deg) brightness(91%) contrast(95%);
}
/*=========================================================+
| Footer Styles                                          |
+=========================================================*/

.footer-container {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
}
.footer {
    flex-direction: column;;
    background-color: var(--navy-blue-color);
    color: var(--cloud-color); 
    margin-left: auto;
    margin-right: auto;
    }
    /*footer`s logo*/
.footer-logo{
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 15px;
}
/*!footer end*/
/*=========================================================+
| Portfolio Styles                                      |
+=========================================================*/
.border{
    padding:24px 28px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
.flex-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:  120px 15px;
}
.portfolio-filter{
    margin-bottom: 120px;
}

.text-h3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42
}
.text-paragraph {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em; 
    color: var(--benefits-text-color);
}
/*!Portfolio Filter */
.portfolio-filter{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
}
/*!Buttons */
.portfolio-list {
    display: flex;
    justify-content: center; 
    gap: 10px;
}
.portfolio-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
    margin-top: 96px;
}
/*=========================================================+
| Button Styles                                         |
+=========================================================*/
.button-all
{
    background-color: #F4F4FD;
    color: #4D5AE5;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center; 
    border: 1px solid #E7E9FC; 
    transition: 1s;   
    border-radius: 2px solid #1d32ef;
}
.button-shadow button:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, .22);
    transform: translateY(-2px);
}

.s button:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    transform: translateY(0);
}
/*=========================================================+
| Button Hover Effects                                 |
+=========================================================*/
.button-hover:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    cursor: pointer;
    border-radius: 48%;
    transition: 1s;
} 
/*!button hover end*/
/*!Team Member */
.portfolio-item {   
    width: 360px;
}
.display{
    display: block;
    max-width: 100%;
    height: auto;
}